$default-font-size: 1.8rem;

$color-primary-light: #84ceeb;

$color-black: #000;

$color-white: white;
$color-hover-bkg: rgb(228, 227, 227);

$color-red: #db3d44;
$color-red-dark: #af3136;
$color-red-bluer: #dd777c;
$color-green: rgb(76, 175, 80);
$color-green-disabled: rgb(141, 177, 143);
$color-green-opacity: rgba(76, 175, 80, 0.8);
$color-orange: orange;