.sandbox {
  width: 50%;
  margin: auto;
  text-align: left;
  display: flex;
  justify-content: space-around;
  border-bottom: 3px solid $color-green;
  margin-top: 2rem;
  position: relative;

  i {
    cursor: pointer;
  }

  &__set-form {
    // position: absolute
  }
}