.sandbox {
  width: 50%;
  margin: auto;
  text-align: left;
  display: flex;
  justify-content: space-around;
  border-bottom: 3px solid $color-green;
  margin-top: 2rem;
  position: relative;

  i {
    cursor: pointer;
  }

  &__set-form {
    // position: absolute
  }
}

.sanbox__container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sandbox__filter-form {
  height: 300px;
  width: 200px;
  border: solid 1px gold;
  overflow: auto;
}

.sandbox__filter-item {
  background: gold;
  height: 30px;
  padding: 5px 10px;
  color: goldenrod;
  border-bottom: solid 1px goldenrod;
}

.sandbox__filter-options {
  display: flex;
  margin-bottom: 20px;
}

.sandbox__filter-option {
  margin: 0 10px;
}

label,
select {
  margin-right: 10px;
}