.photo {
  height: 12rem;
  width: 12rem;
  margin-right: 2rem;

  &__small {
    height: 12rem;
    margin: auto;
  }

  &__big {
    height: 19rem;
    position: absolute;
    top: 8rem;
    margin: auto;
  }
}