.club-members {

  &__filter {
    font-size: $default-font-size;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
    color: $color-red;

    h3 {
      margin-right: 2rem;

    }

    i {
      cursor: pointer;
    }
  }
}